@model List<Entities.Licenses>
@{
    ViewBag.Title = "Autorizaciones Pendientes";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@Html.DevExpress().GetStyleSheets(
      new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Aqua" })

<script type="text/javascript">
    var selectedIDs;
    function onBeginCallback(s, e) {
        // Pasamos los ids seleccionados al boton de autorizar
        e.customArgs["selectedIDs"] = selectedIDs;
        if (selectedIDs != "")
            gvAuthorizeBossLicense.PerformCallback;
    }

    function onSelectionChanged(s, e) {
        s.GetSelectedFieldValues("LicenseId", GetSelectedFieldValuesCallback);
    }

    function GetSelectedFieldValuesCallback(values) {
        // Captura todas las llaves seleccionadas
        selectedIDs = values.join(',');
    }

    function onAuthorizeButtonClick(s, e) {
        $("#selectedIdsAP").val(selectedIDs);
        selectedIDs = "";
    }

    function onDeniedButtonClick(s, e) {
        $("#selectedIdsDN").val(selectedIDs);
        selectedIDs = "";
    }

    function OnInit(s, e) {
        AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustSize();
        });
    }
    function OnEndCallback(s, e) {
        AdjustSize();
    }
    function AdjustSize() {
        var height = document.documentElement.clientHeight;
        gvAuthorizeBossLicense.SetHeight(height - 180);
    }

    function ShowDetailPopup(elementID, url) {
        popImage.SetContentUrl(url);
        popImage.ShowAtElementByID(elementID);
    }

    function onToolbarItemClick(s, e) {
        if (e.item.name == "Authorize") {
             $.ajax({
             url: '@Url.Action("AuthorizeBoss")',
             type: "POST",
             data: { ids: selectedIDs },
            //dataType: "json",
            traditional: true,
            cache: false,
            //contentType: "application/json; charset=utf-8",
            success: function (data) {
                swal("Exito", "La informacion ha sido actualizada", "success");
                gvAuthorizeBossLicense.Refresh()
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
        }
        if (e.item.name == "Denied") {
             $.ajax({
             url: '@Url.Action("DeniedBoss")',
             type: "POST",
             data: { ids: selectedIDs },
            //dataType: "json",
            traditional: true,
            cache: false,
            //contentType: "application/json; charset=utf-8",
            success: function (data) {
                swal("Exito", "La informacion ha sido actualizada", "success");
                gvAuthorizeBossLicense.Refresh()
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
        }
        if (e.item.name == "Refresh") {
             $.ajax({
             url: '@Url.Action("RefreshAuthorizeBoss")',
             type: "GET",
             data: { },
            //dataType: "json",
            traditional: true,
            cache: false,
            //contentType: "application/json; charset=utf-8",
            success: function (data) {

              
            },
            error: function () {
                alert("An error has occured!!!");
            }
             });
            gvAuthorizeBossLicense.Refresh()

        }
    }





</script>


@using (Html.BeginForm())
{
    if (ViewData["EditError"] != null)
    {
        <font face="univers" size="3" color="red">
            @ViewData["EditError"]
        </font>
    }


}
<div id="authorizePartial">
    @Html.Partial("AuthorizeBossPartial", Model);
</div>


@Html.DevExpress().PopupControl(settingsPopup =>
{
    settingsPopup.Name = "popImage";
    settingsPopup.ShowOnPageLoad = false;
    settingsPopup.HeaderText = "Esquela de licencia";
    settingsPopup.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settingsPopup.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settingsPopup.CloseOnEscape = true;
    settingsPopup.Width = 800;
    settingsPopup.Height = 600;
    //settingsPopup.Modal = true;


}).GetHtml()
